---
import FooterForm from "@ui/forms/FooterForm.astro";
import ContactInfo from "@common/ContactInfo.astro";

// Props for customization
const companyName = "ECOS Consulting";
const companyDescription =
  "ECOS Consulting (Pty) Ltd is a multidisciplinary consultancy providing an integrated approach to safety and environmental compliance within work environments.";

// Contact information for the company
const contactDetails = {
  address: "Cape Town, South Africa",
  phone: "+27 68 163 6729",
  email: "info@ecos-consulting.co.za",
  website: "www.ecos-consulting.co.za",
};

// Dynamic date for copyright display
const copyrightYear = new Date().getFullYear();

// Developer or team behind the website
const craftedBy = { name: "Nexevo", url: "https://www.nexevo.io/" };

// BBBEE notice
const bbbeeNotice =
  "ECOS Consulting (Pty) Ltd is a BBBEE Level One Contributor with 100% black woman ownership";
---

<footer
  class="mt-auto w-full bg-linear-to-t/oklch from-teal-200 via-transparent to-white pb-10"
>
  <div class="mx-auto mt-auto w-full max-w-[85rem] px-4 pb-10 sm:px-6 lg:px-8">
    <hr class="mb-10 border-slate-200" />

    <div class="grid grid-cols-2 gap-6 md:grid-cols-5">
      {/* Company Information */}
      <div class="col-span-full self-center xl:col-span-2">
        
          <a href="/"
          class="flex-none text-xl font-semibold uppercase text-slate-700 focus:opacity-80 focus:outline-hidden"
          aria-label="ECOS Consulting Homepage"
        >
          {companyName}
        </a>
        <p class="mt-5 text-pretty text-slate-600 lg:w-5/12 xl:w-10/12">
          {companyDescription}
        </p>
      </div>

      {/* Contact Information Section */}
      <div class="col-span-1 md:col-span-2 xl:col-span-1 xl:col-start-3">
        <ContactInfo {...contactDetails} />
      </div>

      {/* Email Subscription Form */}
      <div class="col-span-2 md:col-span-3 xl:col-span-2">
        <h3 class="font-semibold text-slate-700">Get in touch</h3>
        <FooterForm />
      </div>
    </div>

    {/* Divider before footer's bottom section */}
    <hr class="mb-5 mt-10 border-slate-200" />

    <div
      class="grid gap-y-2 sm:flex sm:items-center sm:justify-between sm:gap-y-0"
    >
      {/* Copyright and Crafted By Section */}
      <p class="text-sm text-slate-400/50">
        &copy; 2019-{copyrightYear} {companyName}. Crafted by <a href={craftedBy.url} target="_blank" rel="noopener noreferrer" class="font-medium underline underline-offset-2 outline-hidden ring-slate-400 transition duration-300 hover:text-slate-400 hover:decoration-dashed focus:outline-hidden focus-visible:ring-3">{craftedBy.name}</a>.
      </p>

      {/* BBBEE Notice */}
      <p class="text-sm text-slate-400/50">
        <Fragment set:html={bbbeeNotice} />
      </p>
    </div>
  </div>
</footer>